<div class="inner inner-long">
    <h2>Gallery</h2>
    <p>A gallery of photos taken throughout our journey.</p>
    <hr>
    <div class="row">
        <div class="column">
            <img src="../../../assets/gallery_images/FB_IMG_1586379066435.jpg">
            <img src="../../../assets/gallery_images/nisha_crutches_bee.jpeg">
            <img src="../../../assets/gallery_images/thumbnail_FB_IMG_1586379074246.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20190710_141539.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20190710_141617.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20190710_141632.jpg">
            <img src="https://i.imgur.com/21jsGDy.jpg">
            <img src="https://i.imgur.com/Vmd8UEl.jpg">
            
        </div>
        <div class="column">
            <img src="../../../assets/gallery_images/thumbnail_20190710_141635.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150354.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150412.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150426.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150439.jpg">
            <img src="../../../assets/gallery_images/thumbnail_MLB_1948.jpg">
            <img src="../../../assets/gallery_images/20201007_134250.jpg">
            <img src="../../../assets/beeswax.png">
            <img src="https://i.imgur.com/dTi5WC5.jpg">
        </div>
        <div class="column">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150451.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150459.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150602.jpg">
            <img src="../../../assets/gallery_images/thumbnail_20200729_150606.jpg">
            <img src="../../../assets/gallery_images/thumbnail_FB_IMG_1586379052340.jpg">
            <img src="https://i.imgur.com/ZVcSBpA.jpg">
            <img src="https://i.imgur.com/U4yqNXK.jpg">
        </div>
        <div class="column">
            <img src="../../../assets/gallery_images/thumbnail_FB_IMG_1586379058011.jpg">
            <img src="../../../assets/gallery_images/thumbnail_FB_IMG_1586379081710.jpg">
            <img src="../../../assets/gallery_images/thumbnail_FB_IMG_1586379088813.jpg">
            <img src="../../../assets/gallery_images/holly2.jpg">
            <img src="../../../assets/gallery_images/20200922_175544.jpg">
            <img src="https://i.imgur.com/jHSc6y7.jpg">
        </div>
    </div>

</div>