@import "../../../styles/theme.scss";

p {
    line-height: 25px;
}

h3 {
    color: rgb(49, 49, 49);
}

.red-text {
    color: red;
  }
  

ul, li {
    line-height: 25px;
    color: $colorTextPrimary;
    font-size: 16px;
}