<div class="inner inner-long">
  <h2>About us</h2>

  <!-- CARDYHONEY INFO SECTION -->

  <p>
    Due to our strong human dependence on bees, CardyHoney and numerous
    international partnered equivalents were created.
  </p>
  <p>
    The British Council Connecting Classrooms initiative developed a cluster of
    like-minded schools around the world. This cluster involves schools from the
    UK, Africa and Asia.
  </p>

  <p>
    To aid our work, we put forward our idea and requested a fund from the

    <a class="nice_link" href="https://we.org" target="_blank"
      >WE Organisation</a
    >

    via our WE Schools link. The WE Organisation is an international charity and
    an educational partner.
  </p>
  <p>
    Cardinal Allen has been a member of the WE Schools program for many years,
    and have attended numerous WE Day concerts & received numerous awards from
    WE. Our idea was forwarded to the Queen's Commonwealth Trust and was
    approved.
    <span class="bold"
      >We are one of only two schools in the country with this approval.</span
    >
  </p>

  <p>
    For over 15 years, we have held an Eco-Schools Green Flag award, and the
    Eco-Schools programme is embedded into everything we do. We have held the
    Blackpool Gazette Sustainable Schools Award for the past 3 years.
  </p>

  <p>
    Recently, we were awarded the
    <span class="bold">Secondary School of the Year</span> by the national
    organisation Eco-Schools. Our
    <a
      href="https://www.eco-schools.org.uk/eco-schools-national-awards-winners-2019/secondary-school-of-the-year-winner/"
      target="_blank"
      class="nice_link"
      >award article</a
    >
    is a great place to view our achievements.
  </p>

  <p>
    You can find more information about our eco-links
    <a
      href="http://www.cardinalallen.co.uk/eco-school/"
      target="_blank"
      class="nice_link"
      >here</a
    >!
  </p>

  <hr />

  <!-- OUR CONTRIBUTIONS SECTION -->
  <h3>Our contributions and aims</h3>
  <p>
    We have planted bee friendly plants, such as lavender, in our school
    allotment, meadow, woodland and environmental corridor. This helps bees by
    ensuring they have pollen to feed on, and therefore to pollinate other
    plants. We gather our funds by selling honey, collected from bees on-site.
  </p>
  <p>
    This is a student-run project, so all work is done by passionate and
    interested students. We have four members of staff - qualified bee-keepers
    and first-aiders - supervising the four hives.
  </p>
  <p>
    We are collecting and selling honey to the people of Fleetwood (FY7) for all
    to enjoy.
  </p>

  <hr />

  <!-- INTERNATIONAL LINKS SECTION -->

  <h3>Our international links</h3>
  <p>
    We, and our locally partnered schools, have developed an international
    cluster of bee-friendly schools.
  </p>
  <ul>
    <li>
      Kilimajaro Academy in Tanzania is linking with their local bee farm.
    </li>
    <li>
      Birla High School, India is developing a bee-friendly environment within
      their school.
    </li>
    <li>
      Galaxy Public School in Kathmandu is developing bee-friendly grounds and
      acquiring their own bees.
    </li>
    <li>
      The Sudesha School in Kathmandu are developing their school grounds to be
      bee-friendly.
    </li>
  </ul>

  <hr />
  <h3>Why the species matters to us</h3>

  <!-- HONEYBEE INFO SECTION -->
  <p>
    Honeybees are very important pollinators for flowers, fruit and vegetables.
    Unfortunately, 35 UK bee species are under threat of extinction and all of
    the species face a serious threat. We have already lost 13 species of the
    insect and do not want to lose any more.
  </p>
  <p>
    The reasons for bees facing such a threat is due to habitat loss, climate
    change, toxic pesticides and disease. Shifts in the seasons are disrupting
    flowering times and leading to a loss in food.
  </p>

  <hr />

  <!-- 'HOW CAN I HELP' SECTION -->
  <h3>How can I help?</h3>
  <p>
    <a
      class="nice_link"
      href="https://friendsoftheearth.uk/bees/what-are-causes-bee-decline"
      target="_blank"
      >Bee decline</a
    >
    is of paramount importance on our Earth.
    <a
      class="nice_link"
      href="https://friendsoftheearth.uk/bees/bee-campaign-successes. "
      target="_blank"
      >Friends of the Earth</a
    >
    have been campaigning since 2012 to prevent bee decline.
  </p>

  <p>
    Friends of the Earth offer many ways to help our cause.
    <a
      class="nice_link"
      href="https://friendsoftheearth.uk/bees/what-are-causes-bee-decline"
      target="_blank"
    >
      This site
    </a>
    shows how you can get involved.
  </p>
</div>
