<style>
    @keyframes twinkling {
      0% {
        opacity: 1;
        color: black;
      }
      50% {
        opacity: 0.5;
        color: red;
      }
      100% {
        opacity: 1;
        color: black;
      }
    }
    
    .updates-list {
      list-style-type: none; /* Remove bullet points from the list */
    }
    
    .updates-list li {
      display: flex; /* Enable flex layout to align image and text */
      align-items: center; /* Vertically align image and text */
    }
    
    .garden-photo {
      width: 400px;
      height: auto;
      border: 2px solid white; /* Add a white border to the image */
      border-radius: 8px; /* Add border radius for a modern look */
      margin-right: 10px; /* Add spacing between image and text */
    }
    
    .under-development-bar {
      background-color: #f9f9f9; /* Set background color for the bar */
      border: 2px solid red; /* Add a red border */
      border-radius: 10px; /* Add border radius for frilly appearance */
      padding: 10px; /* Add padding for content spacing */
      display: flex; /* Enable flex layout */
      align-items: center; /* Vertically align content */
      justify-content: center; /* Horizontally align content */
      animation: twinkling 2s ease-in-out infinite; /* Apply the twinkling animation */
    }
    
    .under-development-bar img {
      width: 24px; /* Adjust the width of the hammer image */
      height: 24px; /* Adjust the height of the hammer image */
      margin-right: 5px; /* Add spacing between icon and text */
    }
    
    .under-development-bar span {
      display: inline-block; /* Make the span element take up only necessary space */
    }
    </style>
    
    <div class="under-development-bar">
      <img src="../../../assets/gallery_images/developicon.png" alt="Hammer" />
      <!-- Replace "developicon.png" with the image path and filename -->
      <span>Under Development</span>
    </div>
    
    <div class="inner inner-long">
      <!-- SALES HEADER -->
      <h2>Holly's Garden</h2>
      <hr />
    
      <div>
        <p>Here are some images of what we are up to</p>
    
        <div class="updates-container">
          <h3>Latest Updates</h3>
          <ul class="updates-list">
            <li>
              <img
                class="garden-photo"
                src="../../../assets/gallery_images/Dome.png"
                alt="Dome"
              />
              <p>Update 1: We have successfully built the dome!</p>
            </li>
            <li>
              <p>
                Update 2: We have built the pond and implemented goldfish within
              </p>
            </li>
            <li>
              <p>Update 3: We are currently building the stained glass window</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    