@import "layout.scss";

.topbar {
  .topbar__inner {
    max-width: $innerWidthNav;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $maxMobile) {
      flex-direction: column;
    }
  }
  .topbar__spacer {
    flex: 1;
  }
}

.logo {
  img {
    height: 80px;

    @media screen and (max-width: $maxMobile) {
      height: 40px;
    }
  }
}

.banner {
  height: 35px;

  @media screen and (max-width: $maxMobile) {
    height: 30px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  &.notice {
    background-color: hsl(0, 0%, 93%);
  }

  &.alert {
    background-color: rgb(241, 218, 183);
  }
}

.banner p {
  padding: 0;
  margin: 0;

  font-size: 15px;

  @media screen and (max-width: $maxMobile) {
    font-size: 9px;
    line-height: 12px;
  }

  letter-spacing: 0.7px;
  font-weight: 200;
}
