<div class="inner">
    
    <h2>Beehives</h2>

    <p>View the conditions within our beehives at Cardinal Allen below.</p>
    <!-- <a href="https://gitlab.com/cachs/microbees" class="note nice_link">Interested in how we did this?</a> -->

</div>

<div class="panel-div">
    <iframe class="panel" src="https://monitor.cardyhoney.com/d/BZWgwjXMk/main-display-dashboard?orgId=1&refresh=5s&from=now-24h&to=now&kiosk"></iframe>
</div>
