<div class="inner inner-long">
  <h2>Commitee</h2>
  <p>Our commitee, managing all operations of CardyHoney, is as follows:</p>

  <table class="committee-table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="title">President</td>
        <td>Lewis G.</td>
      </tr>

      <tr>
        <td class="title">Chairperson</td>
        <td>Alexa R.</td>
      </tr>

      <tr>
        <td class="title">Technical Lead</td>
        <td>Jacob P.</td>
      </tr>

      <tr>
        <td class="title">Business Manager</td>
        <td>Daniel L.</td>
      </tr>

      <tr>
        <td class="title">International - Schools</td>
        <td>Sienna T.</td>
      </tr>

      <tr>
        <td class="title">International - QCT & WE</td>
        <td>Layla B.</td>
      </tr>
    </tbody>
  </table>
</div>
