<div class="hero">
  <div class="overlay"></div>

  <div class="inner">
    <h1>A community honey project</h1>
    <h3>Lead by Cardinal Allen students and other linking schools.</h3>
  </div>
</div>

<div class="body">
  <div class="inner">

    <p class="red">
      CardyHoney is a student-run project promoting the international setup of bee-friendly environments.
    </p>
    <p>
      Three schools in the Fleetwood (UK) area - <a class="bold nice_link" href="http://cardinalallen.co.uk">Cardinal Allen High School</a>, <a class="bold nice_link" href="https://www.great-arley.lancsngfl.ac.uk/">Great Arley School</a>,
      and <a class="bold nice_link" href="https://www.shakespeare.lancs.sch.uk/">Shakespeare Primary School</a>, have developed international partnerships with many global schools through 
      the <span class="bold">British Council Connecting Classrooms</span> initiative and the <span class="bold">Foreign, Commonwealth & Development Office</span>. 
    </p>
    <p>
      Some of these global schools are: <a class="nice_link bold" href="https://www.facebook.com/OfficialPageGalaxy/">Galaxy Public School</a> and <a class="bold nice_link" href="https://sudesha.edu.np/">The Sudesha School</a> in
      Kathmandu, Nepal, <a class="bold nice_link" href="https://www.facebook.com/onagih/">Kilimanjaro Academy</a> in Tanzania, and <a class="bold nice_link" href="https://birlahighschool.com/">Birla High School</a> in Kolkata, India.
    </p>
    <p>
      We work collectively to create bee-friendly areas and ensure
      that bees stay protected due to their high importance in human life. We work together to build hives, collect and sell honey, and conserve bees around the world.
    </p>
  </div>
</div>
