@import "theme.scss";
@import "layout.scss";

.red {
  color: red;
}

.hero {
  background-image: url("../../../assets/garden.jpg");
  background-size: cover;
  width: 100%;
  padding: 60px 0;
  position: relative;

  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 800;
    color: lighten($colorTextPrimary, 100%);

    @media screen and (max-width: $maxMobile) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  h3 {
    font-size: 32px;
    font-weight: 500;
    color: lighten($colorTextSecondary, 100%);

    @media screen and (max-width: $maxMobile) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.body {
  padding: 60px 0;
}
