<!-- Footer container, author JACOB PASSAM -->
<div id="footer">

    <!-- Every DIV takes up 1 CSS grid column
         Maximum of 2 to allow for the logo and open-source message -->

    <!-- 'footer-text' class should be used for all text within the footer; applies styling -->
    <!-- 'list-header' class should be applied to headers of UL elements -->
    <!-- 'no-border' class can be applied to DIVs to remove the right-hand border line -->
    <!-- 'small' class can be applied to text/li to decrease the font size -->

    <!-- ************************ -->
    <!-- Maximum 2 divs in this section -->

    <div>
        <ul>
            <div class="footer-text list-header">key pages</div>
            <li class="footer-text"><a routerLink="/">Home</a></li>
            <li class="footer-text"><a routerLink="/about">About</a></li>
            <li class="footer-text"><a routerLink="/updates">Updates</a></li>
            <li class="footer-text"><a routerLink="/sales">Sales</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <div class="footer-text list-header">our charity partners</div>
            <li class="footer-text"><a href="https://we.org" target="_blank">WE</a></li>
            <li class="footer-text"><a href="https://www.queenscommonwealthtrust.org/" target="_blank">Queen's
                    Commonwealth Trust</a></li>
            <li class="footer-text"><a href="https://www.greggsfoundation.org.uk/" target="_blank">Greggs Foundation</a>
            </li>
            <li class="footer-text"><a href="https://connecting-classrooms.britishcouncil.org/" target="_blank">British
                    Council Connecting Classrooms</a></li>
            <li class="footer-text"><a href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office" target="_blank">Foreign, Commonwealth & Development Office</a></li>
        </ul>
    </div>

    <!-- ************************ -->

    <!-- Do not remove to replace with divs -->

    <!-- OPEN SOURCE MESSAGE -->
    <div id="information" class="no-border">
        <ul>
            <li>
                <a href="https://gitlab.com/cachs/cardyhoney-website/pipelines/latest">
                    <img src="https://gitlab.com/cachs/cardyhoney-website/badges/master/pipeline.svg?style=flat"></a>
            </li>
            <li class="footer-text small">
                This web-page is <a class="nice_link" href="https://gitlab.com/cachs/cardyhoney-website/"
                    target="_blank">open-source</a> and created by students of <a class="nice_link"
                    href="http://cardinalallen.co.uk" target="_blank">Cardinal Allen Catholic High School</a>.
            </li>
        </ul>
    </div>

    <!-- LOGO -->
    <div id="logo" class="no-border">
        <img src="../../../assets/logo-small.svg" alt="CardyHoney Footer Logo" id="logo-footer">
    </div>
</div>