<div class="inner inner-long">
  
  <!-- SALES HEADER -->
  <h2>Our sales details</h2>
  <hr>

  <div>

    <p>For orders, please contact: </p>

    <div class="aha-details">
      <ul>
        <li><span class="bold">A. Harding (Community Co-ordinator)</span> at Cardinal Allen High School via
        <a href="tel:01253872659" class="nice_link">01253 872659</a> or <a href="mailto:a.harding@cardinalallen.co.uk" class="nice_link">a.harding@cardinalallen.co.uk</a>.</li>
      </ul>
    </div>

    <!-- <p class="sl-info sl-smaller"><del>Honey is sold at £5 per jar.</del> Honey is currently sold out. We apologise for any inconvenience caused.</p> -->
    <p class="sl-info" style="font-weight: bold; font-size: 20px;">Sales are currently available. Price is £7 250g jar</p>

    <p class="sl-info">All profits are re-invested into the project and dedicated to making our local environment more bee-friendly.</p>
    <p class="sl-info">Please do not hesitate to contact us at the number shown above with any queries.</p>

    <hr>

    <div class="photo-container">
      <img class="jar-photo" src="../../../assets/gallery_images/20201007_134250.jpg" alt="CardyHoney Jar Photograph">
    </div>

  </div>

</div>